:root {
  --background: #F0F1F7;
  --black: #161a25;
  --border-color: #e5e6eb;
  --border-radius: 4px;
  --green: #189e70;
  --nav-background: #181f47;
  --nav-border-color: #1d244b;
  --nav-selected: #101634;
  --primary-color: #306bff;
  --red: #d15967;
  --secondary-color: #e0eafd;
  --top-nav-size: 5rem;
  --white: #ffffff;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--darkblue);
  color: var(--black);
}

h1 {
  font-weight: bold;
}

.body-container {
  display: flex;
  flex-direction: row;
}

#content {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.card {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

table {
  width: 100%;
  margin: 0;
}

.container-fluid {
  padding-top: 1rem;
}


/* Top bar */

#topbar {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topbar h1 {
  padding: 1rem;
}

#topbar img {
  max-width: 100%;
  height: 60%;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin-right: 1rem;
  cursor: pointer;
}


/* Navigation */

#sidebar {
  height: 100vh;
  min-width: 200px;
  max-width: 200px;
  color: var(--white);
  background-color: var(--nav-background);
}

#sidebar .sidebar-header {
  border-bottom: var(--nav-border-color) 1px solid;
  height: var(--top-nav-size);
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.sidebar-header h4,
.sidebar-header h1 {
  color: var(--white)
}


/* This is from developer tools */

#sidebar .svg-inline--fa {
  width: 20px;
}

#sidebar .nav-link {
  padding-left: 1em;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header h1 {
  display: none;
}

#sidebar.active .sidebar-header h4 {
  display: none;
}

#sidebar.active .nav-link {
  padding-left: 0;
}

#sidebar.active .sidebar-header {
  padding: 1rem;
}

#sidebar.active .sidebar-header h1 {
  display: block;
}

#sidebar.active span {
  display: none;
}

.toggle-navigation {
  color: var(--secondary-color);
  background-color: var(--black);
}

.fa-align-left {
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 1em;
}

li a {
  color: var(--white);
}

.nav-link {
  margin: 0;
  padding: 1rem 0 1rem 0;
}

nav ul li:hover {
  color: var(--white);
  background-color: var(--nav-selected);
}

nav ul li:hover a {
  color: var(--white);
}

.navbar {
  padding: 0;
  border-bottom: var(--border-color) solid 1px;
  height: var(--top-nav-size);
}


/* File Upload */

#uploader {
  width: 100%;
  display: inline-block;
}

.stocks-list-uploader {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stocks-list-uploader span {
  flex: 3;
}

.stocks-list-uploader button {
  flex: 1;
}

#uploadFileInput {
  display: none;
}

#uploadHead {
  background-color: var(--white);
}

#fileUploadLabel {
  width: 100%;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--black);
  cursor: pointer;
}

#uploadFileBtn {
  margin: 0.3rem;
  border-radius: var(--border-radius);
  flex: 1;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}


/* Strategy Form */

.strategy-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-actions {
  text-align: right;
}

.input-group-text {
  background-color: var(--primary-color);
  color: var(--white);
}

thead {
  background-color: var(--nav-background);
  color: var(--white);
}

#btnSaveStrat {
  margin-right: 0.5rem;
}

#strategyList {
  padding-top: 1rem;
}

#strategyList td {
  cursor: pointer;
}


/* Strategy Add */

#uploadForm {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#action {
  display: block;
}

.upload-card {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  width: 49.5%;
}

.upload-card h5,
#action {
  margin-bottom: 0.5rem;
}

#action button {
  margin-left: 0.5rem;
}

#strategy .strat-content {
  background-color: var(--white);
}


/* Breadcrumbs */

#breadCrumbs p {
  margin: 0;
  padding: 0;
}


/* Header */

.header h1 {
  color: var(--black);
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.header button {
  float: right;
}

.upload {
  display: inline;
}

.upload-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
}


/* Backtest */

#backtestDropdown,
#backtestDatePicker,
#fromDatePicker,
#toDatePicker {
  display: inline-block;
}

#backtestDropdown {
  float: left;
}

#fromDatePicker,
#toDatePicker {
  vertical-align: top;
}

#backtestDropdown h5 {
  color: var(--black);
}

#backtestDropdown .dropdown {
  padding-top: 0.5rem;
}

#backtestDropdown .dropdown-toggle {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0;
}

#fromDatePicker h5,
#toDatePicker h5 {
  margin-left: 1.5rem;
}

#monthPicker,
#yearPicker {
  border-radius: var(--border-radius);
}

#monthPicker {
  margin-right: 0.5rem;
}


/* Stock List */

.table-responsive {
  width: auto;
}

@media screen and (max-width: 900px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }
  #sidebar span {
    display: none;
  }
  #sidebar .nav-link {
    padding-left: 0;
  }
  #sidebar .sidebar-header {
    padding: 1rem;
  }
  #sidebar .sidebar-header h4 {
    display: none;
  }
  #sidebar .sidebar-header h1 {
    display: block;
  }
  #sidebarCollapse {
    display: none;
  }
  #breadCrumbs {
    display: none;
  }
}