:root {
  --white: #ffffff;
  --black: #161a25;
  --nav-background: #181f47;
  --nav-selected: #101634;
  --white: #ffffff;
  --primary-color: #306bff;
  --secondary-color: #e0eafd;
  --green: #189e70;
  --red: #d15967;
  --border-color: #e5e6eb;
  --nav-border-color: #1d244b;
  --top-nav-size: 5rem;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--darkblue);
  color: var(--white);
}

p,
h1,
h3 {
  color: var(--black);
}

h1 {
  font-weight: bold;
}

.body-container {
  display: flex;
  flex-direction: row;
}

#content {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.container-fluid {
  padding-top: 1rem;
}

/* Top bar */
#topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topbar h1 {
  padding: 1rem;
}

#topbar img {
  max-width: 100%;
  height: 60%;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin-right: 1rem;
  cursor: pointer;
}

/* Navigation */
#sidebar {
  height: 100vh;
  min-width: 200px;
  max-width: 200px;
  color: var(--white);
  background-color: var(--nav-background);
}

#sidebar .sidebar-header {
  border-bottom: var(--nav-border-color) 1px solid;
  height: var(--top-nav-size);
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

/* This is from developer tools */
#sidebar .svg-inline--fa {
  width: 20px;
}

#sidebar .nav-link {
  padding-left: 1em;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header h1 {
  display: none;
}

#sidebar.active .sidebar-header h4 {
  display: none;
}

#sidebar.active .nav-link {
  padding-left: 0;
}

#sidebar.active .sidebar-header {
  padding: 1rem;
}

#sidebar.active .sidebar-header h1 {
  display: block;
}

#sidebar.active span {
  display: none;
}

.toggle-navigation {
  color: var(--secondary-color);
  background-color: var(--black);
}

.fa-align-left {
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 1em;
}
li a {
  color: var(--white);
}

.nav-link {
  margin: 0;
  padding: 1rem 0 1rem 0;
}

nav ul li:hover {
  color: var(--white);
  background-color: var(--nav-selected);
}

nav ul li:hover a {
  color: var(--white);
}

.navbar {
  padding: 0;
  border-bottom: var(--border-color) solid 1px;
  height: var(--top-nav-size);
}

/* File Upload */
#uploadHead {
  display: flex;
  align-items: center;
}

#uploadHead p {
  margin: 0  0 0 1rem;
}

#uploader {
  display: inline-block;
}

.stocks-list-uploader {
  width: 400px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#uploadFileInput {
  display: none;
}

#fileUploadLabel {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--black);
  flex: 2;
  cursor: pointer;
}

#uploadFileBtn {
  margin: 0.3rem;
  border-radius: 5px;
  flex: 1;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}

/* Strategy Form */
.strategy-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-actions {
  text-align: right;
}

.input-group-text {
  background-color: var(--primary-color);
  color: var(--white);
}

thead {
  background-color: var(--nav-background);
  color: var(--white);
}

#btnSaveStrat {
  margin-right: 0.5rem;
}

#strategyList {
  padding-top: 1rem;
}

#strategyList td {
  cursor: pointer;
}

/* Breadcrumbs */
#breadCrumbs p {
  margin: 0;
  padding: 0;
}

/* Header */
.header h1 {
  color: var(--black);
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.header button {
  float: right;
}

.upload {
  display: inline;
}

.upload-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

@media screen and (max-width: 900px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }

  #sidebar span {
    display: none;
  }

  #sidebar .nav-link {
    padding-left: 0;
  }

  #sidebar .sidebar-header {
    padding: 1rem;
  }

  #sidebar .sidebar-header h4 {
    display: none;
  }

  #sidebar .sidebar-header h1 {
    display: block;
  }

  #sidebarCollapse {
    display: none;
  }

  #breadCrumbs {
    display: none;
  }
}
