:root {
  --background: #F0F1F7;
  --black: #161a25;
  --green: #46B04A;
  --border-color: #e5e6eb;
  --border-radius: 4px;
  --nav-background: #181f47;
  --nav-border-color: #1d244b;
  --nav-selected: #101634;
  --primary-color: #306bff;
  --red: #d15967;
  --secondary-color: #e0eafd;
  --top-nav-size: 5rem;
  --white: #FEFEFF;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
}

h1 {
  font-weight: bold;
}

.body-container {
  display: flex;
}

#content {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  box-shadow: -10px 0 15px #ECF0EA;
}

.card {
  display: block;
  padding: 1rem;
  box-sizing: border-box;
}

table {
  width: 100%;
  margin: 0;
}

.container-fluid {
  padding: 1rem 2rem;
}


/* Top bar */
#topbar {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topbar#left {
  background-color: #F4F6F3;
}

/* Sidebar */
#sidebar {
  height: calc(100vh - var(--top-nav-size));
  padding: 3rem 0 0 0;
  min-width: 250px;
  max-width: 250px;
  background-color: #F4F6F3;/* Sidebar background color */
}

#user {
  margin-bottom: 30px;
}

#user img {
  height: 50px;
  margin: 0 40px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin-right: 1rem;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  width: 230px;
  margin: 10px auto 10px auto;
}

.nav-link {
  margin: 0 25px;
  padding: 10px 0;
  color: #456038;
  border-radius: 25px;
}

.nav-link.star{
  margin: 0 25px;
  padding: 10px 0;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--green);
}

.nav-link svg {
  margin-left: 25px;
}

.nav-link.star svg {
  margin: 0 25px 0 0;
}

.nav-link span {
  margin: 0 10px;
}

.nav-link.star span {
  margin-left: 25px;
}

.nav-link:hover {
  color: #456038;
  background-color: var(--white);
  box-shadow: 0 0 15px #ECF0EA;
}

.nav-link.star:hover {
  color: var(--white);
  background-color: var(--green);
}

.navbar {
  padding: 0;
  border-bottom: var(--border-color) solid 1px;
  height: var(--top-nav-size);
}

/* Header Title */
.header p {
  margin: 0;
  font-size: 60px;
}

/* File Upload */

#uploader {
  width: 100%;
  display: inline-block;
}

.stocks-list-uploader {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stocks-list-uploader span {
  flex: 3;
}

.stocks-list-uploader button {
  flex: 1;
}

#uploadFileInput {
  display: none;
}

#uploadHead {
  background-color: var(--white);
}

#fileUploadLabel {
  width: 100%;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--black);
  cursor: pointer;
}

#uploadFileBtn {
  margin: 0.3rem;
  border-radius: var(--border-radius);
  flex: 1;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}


/* Strategy Form */

.strategy-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-actions {
  text-align: right;
}

.input-group-text {
  background-color: var(--primary-color);
  color: var(--white);
}

thead {
  background-color: var(--nav-background);
  color: var(--white);
}

#btnSaveStrat {
  margin-right: 0.5rem;
}

#strategyList td {
  cursor: pointer;
}


/* Strategy Add */

#uploadForm {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#strategyName {
  width: 100%;
  bottom: 0;
}

#action {
  display: block;
}

.upload-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  width: 49.5%;
}

.upload-card h5,
#action {
  margin-bottom: 0.5rem;
}

#action button {
  margin-left: 0.5rem;
}

#strategy .strat-content {
  background-color: var(--white);
}


/* Breadcrumbs */
.breadcrumb {
  background-color: var(--secondary-color);
}

.breadcrumb-item a {
  color: var(--black);
}

/* Header */

.header h1 {
  color: var(--black);
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.header button {
  float: right;
}

.upload {
  display: inline;
}

.upload-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

/* Stock List */

.table-responsive {
  width: auto;
}

@media screen and (max-width: 900px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }
  #sidebar span {
    display: none;
  }
  #sidebar .nav-link {
    padding-left: 0;
  }
  #sidebar .sidebar-header {
    padding: 1rem;
  }
  #sidebar .sidebar-header h4 {
    display: none;
  }
  #sidebar .sidebar-header h1 {
    display: block;
  }
  #sidebarCollapse {
    display: none;
  }
  #breadCrumbs {
    display: none;
  }
}